<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <p>Hola {{nombre_usuario}}, tu pedido semanal ha sido confirmado!</p>
    <p>Pedido:</p>
    {% for pedido in lineas_pedido %}
    <ul>
        <li>{{pedido.cantidad}} unidades de {{pedido.vianda_tamaño.vianda.dia}} - {{pedido.vianda_tamaño.vianda.tipo}} - {{pedido.vianda_tamaño.tamaño.tamaño}}</li>
    </ul>
    {% endfor %}
</body>
</html>