<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    <p>Hola {{nombre_usuario}}, ya se encuentra disponible el nuevo menú semanal desde el Lunes {{dia_desde}}/{{mes_desde}} al Viernes {{dia_hasta}}/{{mes_hasta}}.</p>
    
    <p>Recorda realizar tu pedido antes del lunes a las 9.00 hs.</p>
    
</body>
</html>