<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    {% load crispy_forms_tags %}
    <h1>Iniciar Sesión</h1>
    <form method="post" action="" style="color: white;">
    
        {% csrf_token %}

        <div style="width: 75%; margin:auto;">
            
            {% if messages %}

            {% for mensaje in messages %}

            {{mensaje}}

            {% endfor %}

            {% endif %}

            {{form|crispy}}
            
            <button type="submit" class="btn btn-success" style="margin-top: 1rem;">Iniciar Sesión</button>

        </div>

    </form>
</body>
</html>
