body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(243, 234, 217);
}

h1{
    color: orange;
}

a{
    color: orange;
    text-decoration: none;
}
a:hover{
    color: orangered;
}

