{% extends 'base.html' %}

{% block contents %}

<div class="justify-content-center">
    {% for pedido in lista_pedidos %}
    <div class="card mt-4 mb-4" style="width: 50%;">
        <div class="card-body">
            <h5 class="card-title">{{pedido.created_at}}</h5>
        </div>
        {% for linea in lista_lineas_pedidos %}
        {% if linea.pedido == pedido %}
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <p>
                    {{linea.vianda_tamaño.vianda.fecha}} - <b>{{linea.vianda_tamaño.vianda.dia}}</b> - <b>{{linea.vianda_tamaño.vianda.tipo}}</b> - <b>{{linea.vianda_tamaño.tamaño.tamaño}}</b> - Cantidad: {{linea.cantidad}} - Menú: {{linea.vianda_tamaño.vianda.descripcion}}
                </p>
            </li>
        </ul>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
    <a href="{% url 'Tienda' %}" class="btn btn-primary mt-4 mb-4">VOLVER</a>
</div>

{% endblock %}