<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viandas Wiltel</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 align-self-center"><h1>Viandas Wiltel</h1></div>
        </div>
        <div>

        </div>
        <div class="row">
            <div class="col-6">
                <div class="row" style="padding: 10px 0;">
                    <div class="col-12">
                        <div class="row">
                            {% for vianda in viandas %}
                            {% if vianda.estado == 'ACTIVA' %}
                            <div class="col-6">
                                <div class="card mt-1" >
                                    <div class="card-body">
                                        <h5 class="card-title">{{vianda.dia}} - {{vianda.tipo}}</h5>
                                        <p class="card-text">{{vianda.descripcion}}</p>
                                        {% for tamaño in tamaños %}
                                        {% for vianda_tamaño in viandas_tamaños %}
                                        {% if vianda_tamaño.vianda == vianda and vianda_tamaño.tamaño == tamaño %}
                                        <div>
                                            <p>
                                                {{tamaño.tamaño}}
                                                <a href="{% url 'Add' vianda_tamaño.id %}" class="badge btn btn-dark badge-dark">+</a>
                                                cantidad
                                                <a href="{% url 'Sub' vianda_tamaño.id %}" class="badge btn btn-dark badge-dark">-</a>
                                            </p>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                {% include "carrito.html" %}
            </div>
        </div>
    </div>
</body>
</html>